<div class= "builds-wrapper">
  <h1>Public Builds</h1>
  <div class="builds-content">
    <% @builds.each do |build|%>
      <a class="builds-card" style="background: <%=@colors.sample%>" href=<%=build_path(build.user,build)%>>
        <div class="builds-div"></div>
        <div class="builds-content">
          <%= content_tag(:span, build.title, class:"builds-title") %>
          <%= content_tag(:span, build.description,class:"builds-description") %>
          <%= content_tag(:span, build.user.name, class:"builds-author")%>
        </div>
      </a>
    <%end%>
  </div>
</div>
