<!DOCTYPE html>
<html>
  <head>
    <title>SP3</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="session-wrapper">
      <div class="session-navbar">
        <a class="nav-banner" href="/">SP3</a>
        <a class="nav-action" href=<%= items_path%>>All Items</a>
        <a class="nav-action" href=<%=builds_path%>>Public Builds</a>
        <a class="nav-action" href=<%= new_build_path%>>Create Build</a>
        <a class="nav-action" href=<%=cart_path%>>View Cart</a>
        <a class="nav-action" href="/logout">Logout</a>
      </div>
      <div>
      </div>
      <div class="session-main">
        <%= yield %>
      </div>
      <div class="session-footer">
        &copy; 2019 - SPB3
      </div>
    </div>
  </body>
</html>
